* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(59, 209, 109), rgb(59, 130, 128));
    font-family: sans-serif;
    color: white;
}

.calco {
    font-family: sans-serif;
}

.textview {
    background: #10375C;
    color: white;
    outline: none;
    border: none;
    border-radius: 25px;
    text-align: center;
}

.button {
    width: 2cm;
    height: 2cm;
    font-size: 0.7cm;
    cursor: pointer;
    border-radius: 35px;
    background: #10375C;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;
}
.button:hover {
    background: white;
    color: #204051;
    border-color: #204051;
}
.button:active {
    background-color: rgb(59, 130, 128);    
    transform: translateY(10px);
}

.zeroButton {
    transition-duration: 0.4s;
    background: #10375C;
    color: white;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 2cm;
    height: 2cm;
    font-size: 0.7cm;
    cursor: pointer;
    border-radius: 35px;
    outline: none;
}
.zeroButton:hover {
    background: white;
    color: #204051;
    border-color: #204051;
}
.zeroButton:active {
    background-color: rgb(59, 130, 128);    
    transform: translateY(10px);
}

.dotButton {
    transition-duration: 0.4s;
    background: #10375C;
    color: white;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 2cm;
    height: 2cm;
    font-size: 0.7cm;
    cursor: pointer;
    border-radius: 35px;
    outline: none;
}
.dotButton:hover {
    background: white;
    color: #204051;
    border-color: #204051;
}
.dotButton:active {
    background-color: rgb(59, 130, 128);    
    transform: translateY(10px);
}

.textview {
    width: 8.3cm;
    height: 1cm;
    font-size: large;
}

.buttonc {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 2cm;
    height: 2cm;
    font-size: 0.7cm;
    cursor: pointer;
    border-radius: 35px;
    background: #10375C;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;
    grid-column: span 2;
}
.buttonc:hover {
    background: white;
    color: #204051;
    border-color: #204051;
}
.buttonc:active {
    background-color: rgb(59, 130, 128);    
    transform: translateY(10px);
}

.buttond {
    box-sizing: border-box;
    width: 2cm;
    height: 2cm;
    font-size: 0.7cm;
    cursor: pointer;
    border-radius: 35px;
    background: #10375C;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;
}
.buttond:hover {
    background: white;
    color: #204051;
    border-color: #204051;
}
.buttond:active {
    background-color: rgb(59, 130, 128);    
    transform: translateY(10px);
}

.buttonx {
    width: 2cm;
    height: 2cm;
    font-size: 0.7cm;
    cursor: pointer;
    border-radius: 35px;
    background: #10375C;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;
}
.buttonx:hover {
    background: white;
    color: #204051;
    border-color: #204051;
}
.buttonx:active {
    background-color: rgb(59, 130, 128);    
    transform: translateY(10px);
}

.columns {
    width: 2cm;
    height: 2cm;
    font-size: 0.7cm;
    cursor: pointer;
    border-radius: 35px;
    background: #10375C;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;  
}
.columns:hover {
    background: white;
    color: #204051;
    border-color: #204051;
}
.columns:active {
    background-color: rgb(59, 130, 128);    
    transform: translateY(10px);
}